.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 50px;
  .left {
    display: flex;
    align-items: center;
    img {
      width: 200px;
    }
    a {
      font-size: 22px;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      margin-left: 1rem;
    }
  }
  @keyframes play {
    0% {
      background-size: 100% 100%;
    }
    100% {
      background-size: 200% 100%;
    }
  }
  .right {
    button {
      // background: linear-gradient(to right, #48c6ee, #fdca00, #fc114c);
      color: #000;
      background-color: #48c6ee;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      outline: none;
      font-size: 16px;
      &:hover {
        animation: play 5s infinite;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .left {
      img {
        width: 120px;
      }
    }
  }
}
